# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\POO\constructori-referinte\schelet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
