# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Urcare_Github\Bachelor's Degree\Year2\Semester1\POO\HOMEWORK_2_OOP\ProiectEtapa2POO-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
